main {
  .buttons {
    .btn {
      border: 1px solid lightgray !important;
      &:hover {
        background-color: grey;
      }
    }
  }
}

.main-expanded {
  margin-top: 380px;
  transition: margin-top 0.3s ease;
}

.second-expanded {
  margin-top: 660px;
  transition: margin-top 0.3s ease;
}

main {
  transition: margin-top 0.3s ease;
  input {
    background-color: lightgrey;
    &:focus {
      background-color: $MainText !important;
    }
    &::placeholder {
      color: black !important;
    }
  }
}

.p2Img {
  width: 50%;
  img,
  .myProfile img {
    width: 100px;
  }
}
.myProfile img {
  width: 70px;
}

.p2Btn {
  &:hover {
    background-color: grey;
    color: white !important;
  }
}

.checkbox {
  transform: scale(2);
  border: 1px solid $MainText;
  outline: 1px solid $MainText;
  border-radius: 0;
  width: 10px;
  height: 10px;
  &:checked {
    outline: 1px solid $MainText;
    accent-color: $bgColor;
  }
}

.paypal {
  img {
    width: 70px;
  }
}

.settings {
  a {
    padding: 5px 0;
  }
}

@media (min-width: 992px) {
  main {
    margin-top: 0;
  }
  .main-expanded {
    margin-top: 0;
  }
  .second-expanded {
    margin-top: 0;
  }
}
